version: "3.7"

services:
  django:
    container_name: django
    build:
      context: ./django
      dockerfile: Dockerfile.local
    volumes:
      - ./django:/app/django
    ports:
      - 8000:8000
    environment:
      - PERFORM_METADATA_UPDATES=false
      - REDIS_CONNECTION_URL=redis://redis:6379
    depends_on:
      - redis
    command: python manage.py runserver 0.0.0.0:8000

  redis:
    container_name: redis-multi-sources
    image: redis:7

  postgres:
    container_name: postgres-multi-sources
    image: postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=test_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  react:
    container_name: react
    build:
      context: ./react
      dockerfile: Dockerfile.local
    volumes:
      - ./react:/app/react
    ports:
      - 3000:3000
    depends_on:
      - django
    command: npm start

volumes:
  postgres_data:
